<div class="d-flex justify-content-start">
	
	
	<form data-ng-submit="listVM.functions.searchRoutes()">
		<input class="form-control mr-sm-2" type="text"
			placeholder="Busca tu ruta..." id="buscador" name="buscar" data-ng-model="listVM.searched">
		<button type="submit" class="btn btn-success btn-sm" id="buscar"
			value="buscar">Buscar</button>
	</form>
	<div class="d-flex justify-content-start">
	<table class="table  table-sm table-responsive table-bordered">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Distance</th>
				<th>Elevation</th>
				<th>Date</th>
				<th>Blocked</th>
				<th>User</th>
				<th>Time</th>
				<th>Diffculty</th>
				<th>kudos</th>
			</tr>
		</thead>
		<tbody>
			<tr class="routes" data-ng-repeat="route in listVM.routes">
				<td>{{ route.title }}</td>
				<td>{{ route.description }}</td>
				<td>{{ route.distance }}</td>
				<td>{{ route.elevation }}</td>
				<td>{{ route.date }}</td>
				<td><a data-ng-if= " route.blocked == 1">Bloqueada</a>
					<a data-ng-if= " route.blocked == 0">Disponible</a></td>
				<td>{{ route.idu}}</td>
				<td>{{ route.time}}</td>
				<td>{{ route.difficulty}}</td>
				<td>{{ route.kudos}}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>